

body{
   line-height: 1.6em;
   margin:0;
   padding: 0;
   box-sizing: border-box;
   display: block;
   background-color: #02010a;
   font-family: "Dancing Script";
   }

.encabezado{
  background: #5b7989;
  position: fixed;
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.encabezado h1{
  color: white;
  text-shadow: 2px 2px 10px #02010a;
  margin-left: 5%;
  margin-bottom: 0;
}
#menu ul{
   float: right;
   list-style: none;
   padding: 0.5em;
   margin: 0;}

#menu ul li{
       display: inline-block;
}
#menu ul li a{
  padding: 1rem 1rem;
}

#contenido {
  padding-top: 5.4em;
}
#contenido img{
  box-shadow: 2px 2px 10px #02010a;
}
#contenido div figure{
  width: 100%;
  margin: 0;
}
#Inicio{
  background-color: #82c3a6;
}
#Inicio figure img{
  width: 85%;
  max-width: 900px;
  display: block;
  margin: auto;
}

.ContenedorFlex{
  display: flex;
  flex-direction: row;
  background-color: #d5c75f;
  width: 100%;
  border: 1px solid white;
}
.ContenedorFlex div{
  width: 50%;
  margin: 0;
}
.ContenedorFlex div figure img{
    width: 70%;
    padding: 0;
    margin-left: 0;
    display: block;
    margin: auto;
    align-items: center;
}

@media (max-width: 900px) {

  .ContenedorFlex {
    display: flex;
    flex-direction: column;
  }
  .ContenedorFlex div{
    width: 100%;
    margin: 0;
  }
  #Inicio figure img{
    width: 100%;
    padding-bottom: 0.1em;
  }
  #Paisajes img{
    display: block;
    width: 100%;
    margin: 0;
    padding-bottom: 0.1em;
  }
  #Retratos img{
    display: block;
    width: 100%;
    margin: 0;
    padding-bottom: 0.1em;
  }
  .encabezado h1 {color: red !important;
      padding-bottom: 0.5em;}
}
